﻿@model HrWebb.Models.JobApplication

@{
    ViewData["Title"] = "Create";
}

<div class="row page-box">
    <div class="col-sm-12">
        <h2>New Job Offer</h2>

        <form id="applicationForm" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.OfferId)
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" name="firstName" class="form-control" minlength="3" type="text" required/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" name="lastName" class="form-control" minlength="3" type="text" required />
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Adress</label>
                <input id="emailAddress" name="emailAddress" class="form-control" type="email" required/>
            </div>
            <div class="form-group">
                <label for="phoneNumer">Phone Number</label>
                <input id="phoneNumer" name="phoneNumer" class="form-control" type="tel" pattern="[0-9]{9}" required />
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="Date" type="date" required/>
            </div>
            <div>
                <label for="description">Description</label>
                <input id="description" name="description" class="form-control" minlength="100" type="text" required />
            </div>
            <div class="form-group">
                <label for="file">CV File</label>
                <input id="file" name="file" type="file" cept="application/pdf" required/>
            </div>
           
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
        <script>
            $('#applicationForm').validate()
        </script>
    </div>

</div>