﻿@model HrWebb.Models.JobApplication

@{
    ViewData["Title"] = "Details";
}

<div class="row page-box">
    <h1>Application:</h1>
    <div class="col-sm-8">
        <div class="offer-description" id="previewMarkDown">
            @Model.Description
        </div>
    </div>
    <div class="col-sm-4">
        <div class="offer-details">
            <div>
                <label>First Name</label>
                <span>@Model.FirstName</span>
            </div>
            <div>
                <label>Last Name</label>
                <span>@Model.LastName</span>
            </div>
            <div>
                <label>Email Adress</label>
                <span>@Model.EmailAddress</span>
            </div>
            <div>
                <label>Phone Number</label>
                <span>@Model.PhoneNumer</span>
            </div>
        </div>
    </div>
    @Html.ActionLink("Go back to Job Offers", "Details", "JobOffer", new { id = Model.OfferId }, new { @class = "btn btn-primary" })
</div>