﻿@model HrWebb.Models.Company

@{
    ViewData["Title"] = "View";
}

<div class="row page-box">
    <div class="col-sm-12">
        <h2>Add New Company</h2>

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="button" onclick="createCompany()" class="btn btn-primary">Create</button>
        </div>

    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    function createCompany() {
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + "Companies";

        $.post(baseUrl + "/Create", {
            Name: $("#Name").val()
        }).done(function (response) {
                window.location.href = baseUrl + "/Index";
            });
    }
</script>

