﻿@model IEnumerable<HrWebb.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Companies List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>

        </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Add New Company", "Create", "Companies", null, new { @class = "btn btn-primary" })

