﻿@model JobOfferCreateView
@{
    ViewData["Title"] = "Create";
}
<div class="row page-box">
    <div class="col-sm-12">
        <h2>New Job Offer</h2>
        @using (Html.BeginForm("Create"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.JobTitle)
                @Html.EditorFor(m => m.JobTitle, new { htmlAttributes = new { @class = "form-control", @data_bind = "value: jobName" } })
                @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Company)
                <select class="form-control"
                        data-bind="options: companiesArray,
                        optionsText: function(item) {
                            return item.name;
                        },
                        value: selectedCompany"></select>
                @Html.HiddenFor(m => m.CompanyId, new { @data_bind = "value: selectedCompany().id" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Location)
                @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control", @data_bind = "value: place" } })
                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SalaryFrom, "Salary From")
                <div class="input-group">
                    <span class="input-group-addon">PLN</span>
                    @Html.EditorFor(m => m.SalaryFrom, new { htmlAttributes = new { @class = "form-control", placeholder = "From" } })
                    <span class="input-group-addon">.00</span>
                </div>
                @Html.ValidationMessageFor(m => m.SalaryFrom, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SalaryTo, "Salary To")
                <div class="input-group">
                    <span class="input-group-addon">PLN</span>
                    @Html.EditorFor(m => m.SalaryTo, new { htmlAttributes = new { @class = "form-control", placeholder = "To", @data_bind = "value: salaryTo" } })
                    <span class="input-group-addon">.00</span>
                </div>
                @Html.ValidationMessageFor(m => m.SalaryTo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ValidUntil)
                <div class="input-group">
                    @Html.EditorFor(m => m.ValidUntil, new { htmlAttributes = new { @class = "form-control", @data_bind = "value: date" }, type = "Date" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.ValidUntil, "", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Enter description", @data_bind = "value: description" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        }
    </div>
</div>
<h3>Preview:</h3>
<div class="row page-box">
    <h1 data-bind="text: jobName"></h1>
    <div class="col-sm-8">
        <div class="offer-description" id="previewMarkDown">
            <p data-bind="text: description"></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="offer-details">
            <div>
                <label>Company</label>
                <span data-bind="text: selectedCompany().name"></span>
            </div>
            <div data-bind="visible: place">
                <label>Location</label>
                <span data-bind="text: place"></span>
            </div>
            <div data-bind="visible: salaryTo">
                <label>Salary to</label>
                <span data-bind="text: salaryTo">/span>
            </div>
            <div>
                <label>Created:</label>
                <span>@Model.Created</span>
            </div>

            <div data-bind="visible: date">
                <label>Valid</label>
                <span data-bind="text: date"></span>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="~/lib/knockout/knockout-min.js"></script>
<script>

    $(document).ready(function () {
        var ViewModel = function () {
            this.jobName = ko.observable();
            this.description = ko.observable();
            this.place = ko.observable();
            this.salaryTo = ko.observable();
            this.date = ko.observable();

            var jCompanies = @Html.Raw(Json.Serialize(Model.Companies));
            this.companiesArray = ko.observableArray(jCompanies);
            this.selectedCompany = ko.observable(jCompanies[0]);
        };

        ko.applyBindings(new ViewModel());
    });

</script>
