﻿@model JobOffer
@{ ViewBag.Title = "Offer";}

<div class="row page-box">
    <h1>@Model.JobTitle</h1>
    <div class="col-sm-8">
        <div class="offer-description" id="previewMarkDown">
            @Model.Description
        </div>
    </div>
    <div class="col-sm-4">
        <div class="offer-details">
            <div>
                <label>Company</label>
                <span>@Model.Company.Name</span>
            </div>
            <div>
                <label>Location</label>
                <span>@Model.Location</span>
            </div>
            @if (Model.SalaryFrom.HasValue)
            {
                <div>
                    <label>Salary to</label>
                    <span>@Model.SalaryTo</span>
                </div>
            }
            <div>
                <label>Crated:</label>
                <span>@Model.Created</span>
            </div>
            @if (Model.ValidUntil.HasValue)
            {
                <div>
                    <label>Valid</label>
                    <span>@Model.ValidUntil.Value.Subtract(DateTime.Now).Days days (@Model.ValidUntil)</span>
                </div>
            }
            <div>
                @Html.ActionLink("Apply Now", "Create", "JobApplication", new { k = Model.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </div>
            <div>
                @using (Html.BeginForm("Delete", "JobOffer", new { Model.Id }, FormMethod.Post, null, new { style = "display:inline;" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>
    <table id="applicationsTable" class="table table-striped table hover">
        <thread class="thread-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
        </thread>
    </table>
    @Html.ActionLink("Go back to Job Offers", "Index", "JobOffer", null, new { @class = "btn btn-primary" })
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'GetApplications?id=' +@Model.Id;
    $(document).ready(function () {
        $.getJSON(uri)
            .done(function (data) {
                $.each(data, function (key, item) {
                    $('#applicationsTable').find("tbody")
                        .append($('<tr>')
                            .append($('<td>').text(item.firstName))
                            .append($('<td>').text(item.lastName))
                            .append($('<td>').text(item.emailAddress))
                            .append($('<td>').text(item.phoneNumer)))
                });
            });
    }
    );
</script>
  