﻿@model JobOffer
@{ 
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-sm12"> 
        <h2>Edit Job Offer</h2>
        @using (Html.BeginForm("Edit"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.Id)
            <div class="form-group">
                @Html.LabelFor(m=>m.JobTitle)
                @Html.EditorFor(m=>m.JobTitle,new { htmlAtributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m=>m.JobTitle)
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.Description)
                @Html.TextAreaFor(m=>m.Description,new  {@class="form-control",placeholder="Enter Description"})
                @Html.ValidationMessageFor(m => m.Description, "", new { @class="text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">save</button>
        }
    </div>
</div>