﻿<div class="row page-box">
    <div class="col-sm-12">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script>
            var uri = 'GetOffers';

            $(document).ready(function () {

                $('#jobOffersTable').on('click', '.footerContent a', function (e) {
                    var pageNumber = parseInt($(this).html());
                    var search = $('#search').val();
                    getOffers(search,pageNumber );
                });
                getOffers('', 1);
            });


            function searchForOffers() {
                var search = $('#search').val();
                getOffers(search, 1);
            }

            function getOffers(search, page) {
                $.getJSON(uri + '?search=' + search + '&pageNumber=' + page)
                    .done(function (data) {

                        var $table = $('#jobOffersTable');

                        $table.find("tbody").html("");
                        $.each(data.jobOffers, function (key, item) {
                            var $row = $('<tr>');
                            $row.append($('<td>').html(
                                "<a href=\"" + "/JobOffer/Details?id=" + item.id + "\" >"
                                + item.jobTitle
                                + "<\a>"));
                            $row.append($('<td>').text(item.company.name));
                            $row.append($('<td>').text(item.location));
                            var date = new Date(Date.parse(item.created));
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            $row.append($('<td>').text(day + '/' + month + '/' + year));
                            $table.find("tbody").append($row);
                        });

                        var currentPage = data.pageNumber;
                        var totalPage = data.numberOfPages;
                        var $footer = $('<tr/>');
                        var $footerTD = $('<td/>').attr('colspan', 4).addClass('footerContent');

                        if (totalPage > 0) {
                            for (var i = 1; i <= totalPage; i++) {
                                var $page = $('<span/>').addClass((i == currentPage) ? "current" : "");
                                $page.html((i == currentPage) ? i : "<a href='#'>" + i + "</a>");
                                $footerTD.append($page);
                            }
                            $footer.append($footerTD);
                        }
                        $table.append($footer);
                    });
            }
        </script>

        <h2>Job Offers</h2>

        <div class="input-group col-md-12" style="margin-bottom: 14px">
            <input type="text" class="form-control" placeholder="Search by offer tittle.."
                   name="search" id="search" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" onclick="searchForOffers()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </span>
        </div>

        <table id="jobOffersTable" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Company</th>
                    <th scope="col">Location</th>
                    <th scope="col">Created</th>
                </tr>
            </thead>
            <tbody />
        </table>

        @Html.ActionLink("Create job offer", "Create", "JobOffer", null, new { @class = "btn btn-primary" })
    </div>
</div>